// 鸽蓝
.gelan {
  background-color: #1c2938;
}

// 钢青色
.gangqing {
  background-color: #142334;
}

// 海涛蓝
.haitaolan {
  background-color: #15559a;
}

// 海军蓝
.haijunlan {
  background-color: #346c9c;
}

// 品蓝
.pinlan {
  background-color: #2b73af;
}

// 碟翅蓝
.diechilan {
  background-color: #4e7ca1;
}

// 花青蓝
.huaqing {
  background-color: #2376b7;
}

// 鷃蓝
.yanlan {
  background-color: #144a74;
}
// 青山蓝
.qingshanlan {
  background-color: #8fb2c9;
}

//潮蓝
.chaolan {
  background-color: #2983bb;
}

// 天蓝
.tianlan {
  background-color: #1677b3;
}

// 宝石蓝
.baoshilan {
  background-color: #2486b9;
}

// 釉蓝
.youlan {
  background-color: #1781b5;
}

// 苍蓝
.canglan {
  background-color: #134857;
}

// 深灰蓝
.shenhuilan {
  background-color: #132c33;
}

// 灰蓝
.huilan {
  background-color: #21373d;
}