// 黑色
$bgDark: #123;
$bgDarkGray: #303133;

// 蓝色
$gelan: #1c2938;
$gangqing: #142334;
$haitaolan: #15559a;
$haijunlan: #346c9c;
$pinlan: #2b73af;
$yanlan: #144a74;
$chaolan: #2983bb;
$tianlan: #1677b3;
$canglan: #134857;
$shenhuilan: #132c33;
$huilan: #21373d;

// 灰色
$qianhui: #dad4cb;
$zhonghui: #bbb5ac;

// 绿色
$shilv: #617172;
$meidielv: #12aa9c;
$yadinglv: #428675;
$ganlanlv: #5e5314;

// 紫色
$wumeizi: #1e131d;
$jianfengzi: #3e3841;
$yeputaozi: #302f4b;