// 石绿
.shilv {
  background-color: #617172;
}

// 美蝶绿
.meidielv {
  background-color: #12aa9c;
}

// yadinglv
.yadinglv {
  background-color: #428675;
}

// 橄榄绿
.ganlanlv {
  background-color: #5e5314;
}