.wumeizi {
  background-color: #1e131d;
}

// 玫瑰紫
.meiguihong {
  background-color: #d2357d;
}

// 芥花紫
.jiehuazi {
  background-color: #983680;
}

// 剑锋紫

.jianfengzi {
  background-color: #3e3841;
}

// 暗蓝紫
.anlanzi {
  background-color: #131124;
}

// 野葡萄紫 
.yeputaozi {
  background-color: #302f4b;
}

// 貂紫
.diaozi {
  background-color: #5d3131;
}