// 报春红
.baochunhong {
  background-color: #ec8aa4;
}
// 暗玉紫
.anyuzi {
  background-color: #5c2223;
}
// 牡丹粉红
.mudanfenhong {
  background-color: #eea2a4;
}
// 香叶红
.xiangyehong {
  background-color: #f07c82;
}
//艳红
.yanhong {
  background-color: #ed5a65;
}
// 满江红
.manjianghong {
  background-color: #a7535a;
}
// 合欢红
.hehuanhong {
  background-color: #f0a1a8;
}
// 山茶红
.shanchahong {
  background-color: #ed556a;
}

// 丹子红
.danzihong {
  background-color: #d2568c;
}