// 云峰白
.yunfengbai {
  background-color: #d8e3e7;
}

// 月影白
.yueyingbai {
  background-color: #c0c4c3;
}

// 月白
.yuebai {
  background-color: #eef7f2;
}

// 银白
.yinbai {
  background-color: #f1f0ed;
}