@import './mixin';
@import './color';

.bg {
  &-black {
    background-color: $bgBlack;
  }

  &-gray {
    background-color: $bgGray;
  }

  &-apple {
    background: $apple;
  }

  &-moon {
    background: $moon;
  }

  &-royal {
    background: $royal;
  }

  &-mid-night {
    background: $midNight;
  }

  &-mirage {
    background: $midNight;
  }

  &-red {
    background: $bgRed;
  }

  &-light-green {
    background: $bgLightGreen;
  }

  &-green {
    background: $bgGreen;
  }
}