// 灰色
$qianhui: #dad4cb;
$zhonghui: #bbb5ac;

// 黑色
$bgBlack: #222831;
$bgGray: #393e46;
$bgDark: #eeeeee;
$bgLightGreen: #00adb5;
$bgRed: #c23;
$bgBlue: #346;
$bgGreen: #077;

// linear-gradient
$apple: linear-gradient(to bottom, #000 0%, #1a2028 50%, #293845 100%);
$moon: linear-gradient(to bottom, #0f2027 0%,#203a43 50%, #2c5364 100%);
$royal: linear-gradient(to bottom, rgb(20, 30, 48), rgb(36, 59, 85));
$midNight: linear-gradient(to bottom, rgb(35, 37, 38), rgb(65, 67, 69));
$mirage: linear-gradient(to bottom, rgb(22, 34, 42), rgb(58, 96, 115));


// 引用
$blockquote: #6a737d;
$blockquoteBorderColor: #ddd;


// color Bar

$magenta: #99334f;
$green: #49793a;
$cyan: #58bfb1;
$blue: #6281cf;
$purple: #9F4D95;
$yellow: #bbb137;
$red: #cb585e;


// `` color
$mark: #e01e5a;
$link: rgb(18, 100, 163);
$linkHover: rgb(11, 76, 140);