.f {
  font-size: 14px;
  &16 {
    font-size: 16px;
  }
  &18 {
    font-size: 18px;
  }
  &20 {
    font-size: 20px;
  }
  &22 {
    font-size: 22px;
  }
  &24 {
    font-size: 24px;
  }
  &26 {
    font-size: 26px;
  }
  &28 {
    font-size: 28px;
  }
  &30 {
    font-size: 30px;
  }
  &32 {
    font-size: 32px;
  }
  &34 {
    font-size: 34px;
  }
  &36 {
    font-size: 36px;
  }
  &38 {
    font-size: 38px;
  }
  &40 {
    font-size: 40px;
  }
  &42 {
    font-size: 42px;
  }
  &44 {
    font-size: 44px;
  }
  &46 {
    font-size: 46px;
  }
  &48 {
    font-size: 48px;
  }
  &50 {
    font-size: 50px;
  }
}