@import './color';

.color-bar {
  list-style: none;
  li {
    margin-bottom: 15px;
    margin-left: 0;
  }

  .magenta {
    span {
      background-color: $magenta;
    }
  }

  .green {
    span {
      background-color: $green;
    }
  }

  .cyan {
    span {
      background-color: $cyan;
    }
  }

  .blue {
    span {
      background-color: $blue;
    }
  }

  .purple {
    span {
      background-color: $purple;
    }
  }

  .yellow {
    span {
      background-color: $yellow;
    }
  }

  .red {
    span {
      background-color: $red;
    }
  }

  span {
    display: inline-block;
    padding: 15px 25px;
    background-color: #293845;
    border-radius: 63px;
    color: #fff;
    font-size: 16px;
  }
}