@import './reset.scss';
@import './common.scss';
@import './width';
@import './bgColor';
@import './textColor';
@import './size';
@import './layout';

.mdppt {
  height: 100vh;

  .mdppt-content {
    height: 100vh;
  }

  .mdppt-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    // &__sub {}

    ul {
      display: inline-block;
      text-align: left;
      list-style: disc;
    }
  }
}