@import './reset.scss';
@import './common.scss';
@import './width';
@import './bgColor';
@import './size';

.mdppt {
  height: 100vh;

  .mdppt-content {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .mdppt-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    word-wrap: break-word;
    &__sub {
      position: relative;
      z-index: 2;
    }

    ul {
      display: inline-block;
      text-align: left;
      list-style: disc;
    }
  }
}