.p {
  &2 {
    padding: 2px;
  }
  &4 {
    padding: 4px;
  }
  &6 {
    padding: 6px;
  }
  &8 {
    padding: 8px;
  }
  &10 {
    padding: 10px;
  }
  &12 {
    padding: 12px;
  }
  &14 {
    padding: 14px;
  }
  &16 {
    padding: 16px;
  }
  &18 {
    padding: 18px;
  }
  &20 {
    padding: 20px;
  }
  &22 {
    padding: 22px;
  }
  &24 {
    padding: 24px;
  }
  &26 {
    padding: 26px;
  }
  &28 {
    padding: 28px;
  }
  &30 {
    padding: 30px;
  }
  &t2 {
    padding: 2px;
  }
  &t4 {
    padding-top: 4px;
  }
  &t6 {
    padding-top: 6px;
  }
  &t8 {
    padding-top: 8px;
  }
  &t10 {
    padding-top: 10px;
  }
  &t12 {
    padding-top: 12px;
  }
  &t14 {
    padding-top: 14px;
  }
  &t16 {
    padding-top: 16px;
  }
  &t18 {
    padding-top: 18px;
  }
  &t20 {
    padding-top: 20px;
  }
  &t22 {
    padding-top: 22px;
  }
  &t24 {
    padding-top: 24px;
  }
  &t26 {
    padding-top: 26px;
  }
  &t28 {
    padding-top: 28px;
  }
  &t30 {
    padding-top: 30px;
  }
  &r2 {
    padding-right: 2px;
  }
  &r4 {
    padding-right: 4px;
  }
  &r6 {
    padding-right: 6px;
  }
  &r8 {
    padding-right: 8px;
  }
  &r10 {
    padding-right: 10px;
  }
  &r12 {
    padding-right: 12px;
  }
  &r14 {
    padding-right: 14px;
  }
  &r16 {
    padding-right: 16px;
  }
  &r18 {
    padding-right: 18px;
  }
  &r20 {
    padding-right: 20px;
  }
  &r22 {
    padding-right: 22px;
  }
  &r24 {
    padding-right: 24px;
  }
  &r26 {
    padding-right: 26px;
  }
  &r28 {
    padding-right: 28px;
  }
  &r30 {
    padding-right: 30px;
  }
  &b2 {
    padding-bottom: 2px;
  }
  &b4 {
    padding-bottom: 4px;
  }
  &b6 {
    padding-bottom: 6px;
  }
  &b8 {
    padding-bottom: 8px;
  }
  &b10 {
    padding-bottom: 10px;
  }
  &b12 {
    padding-bottom: 12px;
  }
  &b14 {
    padding-bottom: 14px;
  }
  &b16 {
    padding-bottom: 16px;
  }
  &b18 {
    padding-bottom: 18px;
  }
  &b20 {
    padding-bottom: 20px;
  }
  &b22 {
    padding-bottom: 22px;
  }
  &b24 {
    padding-bottom: 24px;
  }
  &b26 {
    padding-bottom: 26px;
  }
  &b28 {
    padding-bottom: 28px;
  }
  &b30 {
    padding-bottom: 30px;
  }
  &l2 {
    padding-left: 2px;
  }
  &l4 {
    padding-left: 4px;
  }
  &l6 {
    padding-left: 6px;
  }
  &l8 {
    padding-left: 8px;
  }
  &l10 {
    padding-left: 10px;
  }
  &l12 {
    padding-left: 12px;
  }
  &l14 {
    padding-left: 14px;
  }
  &l16 {
    padding-left: 16px;
  }
  &l18 {
    padding-left: 18px;
  }
  &l20 {
    padding-left: 20px;
  }
  &l22 {
    padding-left: 22px;
  }
  &l24 {
    padding-left: 24px;
  }
  &l26 {
    padding-left: 26px;
  }
  &l28 {
    padding-left: 28px;
  }
  &l30 {
    padding-left: 30px;
  }
}